/**
Reseteamos estilos
*/
* {
  margin:0;
  padding:0;
}

/**
Agregamos fondo y fuente
freefronted background demo and code (css background patters)
Agregamos la fuente, antes la buscamos en google fonts manjari y la pegamos en index.html
*/
body {
  background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                    radial-gradient(gray 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
  font-family: 'Manjari', sans-serif;
}



/** HEADER 
estilizamos title y h1 espacio arriba y abajo, centrado, fuente y uppercase
*/
.navbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;

  text-decoration: none;
  text-transform: uppercase;
  background: #000;

  -webkit-box-shadow: 0px 6px 6px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 6px 6px -1px rgba(0,0,0,1);
  box-shadow: 0px 6px 6px -1px rgba(0,0,0,1);

}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar > .icon {
  display: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #2196F3;
  color: white;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  width: 130px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

/**
Estilizamos contenedor principal
Container
que ocupe 90%
que maximo va a llegar a 1000px
centrar usando margin 1.6em arriba y abajo y automatico a los lados

activamos para ordenar grid y gap para poner espaciado entre los contenedores

agregamos 5 columnas al contenedor

*/
.container{
  background: #fff;
  width: 90%;
  max-width: 1200px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  gap: 1.6em;

  grid-template-columns: repeat(5,1fr);

  -webkit-box-shadow: -1px 5px 27px 6px rgba(0,0,0,1);
  -moz-box-shadow: -1px 5px 27px 6px rgba(0,0,0,1);
  box-shadow: -1px 5px 27px 6px rgba(0,0,0,1);

}

.rw-responsive{
  overflow: auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.95);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.95);
  margin-bottom: 20px;
}

/**
Estilos para tabla
*/
.rw-responsive > table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(24, 6, 90);
  color: white;
}

/**
Seleccionamos los elementos principales y a cada elemento le aplicamos 
un padding, un backgroudn y un borde
*/
.container > .header,
.container > .sidebar,
.container > .related-post,
.container > .footer {
  border: 1px solid #000;
}

/**
HEADER FOOTER
Seleccionamos el header y el footer y los ponemos a que abarque las 5 columnas
significa que tenemos 6 lineas de 1-6
*/
.container > .header,
.container > .upperBar,
.container >.footer {
  background: #1e272e;
  color: #fff;
  grid-column: 1/6;
}

.container > .upperBar{
  margin: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.rw-table{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

.upperBar > input[type=text] {
  margin: 5px;
  width: 40%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 10px 12px 10px;
}

.upperBar > .button {
  margin: 5px;
  float: right;
  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2196F3;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.upperBar >.button:hover {background-color: #3b83e2}

.upperBar > .button:active {
  background-color: #3b83e2;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

/**
CONTENT
Para el contenedor principal le decimos que abarca 3 columnas
podemos usar span n
*/
.container > .content{
  grid-column: span 5;
}

/**
CONTENT --> ARTICLE
Para los articulos que esten dentro del content
le aplicamos un margen al componente
un padding en relacion al texto,
fondo y color de texto
*/
.content > .article {
  border: 1px solid #000;
  background: skyblue;
  padding: 20px;
  margin: 20px;
  color:royalblue;
}

/**
Le damos un espacio al texto que hay en article con padding a h1 y p
*/
.content > .article > h1,
.content > .article > p{
  padding: 10px;
}


/**+
SIDEBAR
Para el sidebar le decimos que abarca 2 columnas
podemos usar span n
le ponemos background

para centrar el contenido verticalmente aplicamos flexbox
para el sidebar aplicamos flexbox
le decimos que esta centrado arriba y abajo
le decimos que lo acomode verticalmente

*/
.container > .sidebar{
  grid-column: span 2;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/**
CADA SIDEBAR
*/
.sidebar > div {
  border: 1px solid #000;
  margin: 20px;
  background: goldenrod;
}

/**
RELATED POST
Fondo negro, color blanco de texto, alto de 180px
centrado usando flex justifycontent y alight items
*/
.container > .related-post{
  background: #000;
  color: #fff;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease;
}

/**
Añadir efecto a los related post depende transition de la clase de arriba
*/
.container > .related-post:hover{
  cursor: pointer;
  background:#fff;
  color: #000;
}

/**
Le damos mas espacio al footer
*/
.footer{
  margin-top: 40px;
  background: #000;
  color:#fff;
  text-align: center;
}

/**
CSS para modal
Centramos el elemento con base a toda la pantalla
position: absolute
*/
.modal-agregar {
  background: #1f366e;
  color: #fff;
  margin: 0;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 7px -1px 17px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 7px -1px 17px 3px rgba(0,0,0,0.75);
box-shadow: 7px -1px 17px 3px rgba(0,0,0,0.75);
}

.modal-agregar > .modal-contenido {
  height: 100px;
  overflow: hidden;
}


.modal-agregar > button{

  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2196F3;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;

  
}



/*****************EMPIEZA EL RESPONSIVE**********************************/



@media screen and (max-width: 768px){
  /**Mostramos el icono de menu hamburguesa*/
  .navbar a:not(:first-child) {display: none;}
  /**Mostramos el primer elemento siempre visible*/
  .navbar a.alwaysVisible {
    display: block;
  }



  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .container > .header{
    text-align: center;
  }

  .navbar > .icon {
    display: block;
  }

  .container {
    margin: 20px;
  }
  /**
  porque son son 5 columnas y 6 lineas 1-6
  */
  .container > .content{
    grid-column: 1/6;
  }

  /**
  porque son son 5 columnas y 6 lineas 1/-1 (esta es otra forma)
  */
  .container > .sidebar{
    grid-column: 1/-1;
  }

  /**
  Otra forma de poner todas las columnas que abarque span 5
  */
  .container > .related-post{
    grid-column: span 5;
  }
  

}
